################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MSGExtensions/obj
/.vs/MSGExtensions/FileContentIndex
/.vs/MSGExtensions/v17
/MSGExtensions/.vs
/.vs/MSGExtensions/v18
/.vs/MSGExtensions/CopilotIndices/17.14.1681.23550
