################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MSGExtensions/obj
/.vs/MSGExtensions/FileContentIndex
